html{
    font-size: 6.25%;
}

body{
    position: relative;
    width: 100%;
    height: 72vh;
    font-family: 'Montserrat', sans-serif;
    margin: 20px auto;
    box-sizing: border-box;
    background-image: url(./projetoKitchening/images/bg-body.png);

}

/* logo e navbar */

.imgLogo{
    border-radius: 50%;
    border: 1px solid black;
    margin: 1% 0% 3% 50%;
}

.navHeader{
    display: flex;
    flex-direction:row;
    margin: 0;
}

.navHeader a{
    text-decoration: none;
    color: white;
    font-size: 16rem;
    background-color: #212121;
    text-transform: uppercase;
    width: 100%;
    padding: 1% ;
    margin-left: 15px;
}

a{
    text-align: center;;
}

/* banner e pratos */

.imagemBanner{
    width: 100%;
    margin-top: 30px;
}

.pratosFirstRow, .pratosSecondRow{
    display: flex;
    flex-flow: row;
    margin-top: 20px;
}

div{
    margin: 0px 30px 0px 30px;
    padding: 0 0 0 2%;
}

.imgPratos{
    width: 100%;
}

div h2{
    font-weight: 700;
    font-size: 16rem;

}

div p{
    font-size: 12rem;
}

div button{
    width: 25%;
    background-color: #212121;
    padding: 8px;
    color: white;
    font-size: 12rem;
    border: none;
}

/* footer */

.navFooter{
    background-color: red;
    padding-top: 50px;
    margin-top: 50px;
    padding-left: 40%;
    border-top-right-radius: 18px;
    border-top-left-radius: 18px;
    display: flex;
    flex-direction: row;
}

.navFooter a{
    margin-bottom: 30px;
    text-decoration: none;
    color: white;
    font-size: 16rem;
    padding: 5px 10px 5px;
    border-left: 1px solid #FFFFFF;
    line-height: 25%;
}

nav a:first-child{
    border: none;
}

@media(max-width: 375px){
    body{
        width: 100vw;
    }

    .cabecalhoPrincipal{
        display: flex;
        flex-wrap: wrap;
    }

    .imgLogo{
        margin: 5% 0% 5% 32%;
    }

    .navHeader{
        flex-direction: column;
        margin: 4% 36%;
    }

    .navHeader a{
        width: 10vh;
        text-transform: none;
        border: 1px solid #212121;
        font-size: 10rem;
    }

    .containerHeader{
        display: flex;
        flex-wrap: wrap;

    }

    .imagemBanner{
        height: 26vh;
    }

    div{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
    }

    .pratosFirstRow, .pratosSecondRow{
        flex-direction: column;
        width: 100vw;
    }

    h2{
        font-size: 120%;
    }

    div button{
        background-color: #212121;
        margin: 3% 5% 3% 5%;
        width: 100vw;
        border: none;
    }

    footer{
        display: flex;
        flex-wrap: wrap;
    }

    .navFooter{
        flex-direction: column;
        border-radius: 0;
        width: 100vw;
    }

    .navFooter-link a{
        border: 1px solid white;
        
    }
    .navFooter a{
        margin: 0 39% 11.5% 0;
        border: none;
    }
}

@media(max-width: 1024px){
    .imgLogo{
        margin: 1% 0% 3% 44%;
    }

    nav a:first-child{
        border: none;
    }
}