html{
    font-size: 6.25%;
}

body{
    width: 697px;
    border: 1px solid black;
    margin: 20px auto;
    box-sizing: border-box;
    font-family: 'Ropa Sans';
}

/* header */

header{
    height: 6.3vh;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 2rem 10rem rgba(0, 0, 0, 0.25);
}

.hamburguerMenu{
    height: 25%;
    margin-left: 72.2%;
}

/* main - portfolio */

.portfolio{
    margin: 20px 45px 37px;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
}

.backButton{
    position: absolute;
    top: 27%;
    left: 32%;
}

.forwardButton{
    position: absolute;
    top: 27%;
    right:32%; 
}

/* featured section */

.featured{
    display: flex;
}

.featureNew, .featureSale {
    margin: 0 0 0 6%;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    width: 256px;
    height: 242px;
}

.price-new, .price-sale{
    font-size: 25rem;
    font-weight: 400;
    color: #888888;
    position: relative;
    left: 8%;
    top: 8%;

}

.button-new{
    font-size: 20rem;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #51D275;
    border-radius: 10.5px;
    border: none;

    align-self: flex-end;

    line-height: 100%;
    width: 25%;
    margin: -2% 6% 4% 0;
}

.description-new{
    text-align: justify;
    width: 86%;
    margin: 0 0 0 8%;
    font-size: 10rem;
}

.featureSale{
    margin: 0 0 0 14%;
}

.button-sale{
    font-size: 20rem;
    font-weight: 400;
    color: #FFFFFF;
    background-color: #DC9730;
    border-radius: 10.5px;
    border: none;

    align-self: flex-end;

    line-height: 100%;
    width: 25%;
    margin: -2% 6% 4% 0;
}

/* footer */

footer{
    width: 697px;
    height: 243px;
    background-color: #333333;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contactInfo{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;;
    color: #FFFFFF;
    font-size: 12rem;
    font-family: 'Ropa Sans';

}

.contactInfo-details{
    font-size: 12rem;
    font-family: 'Ropa Sans';
    margin: 49px, 45px, 99px 0px;
    line-height: 13px;
}

.contactInfo-details p{
    line-height: 13rem;
}
